<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Scale>300</Scale>
	<DrawRect>0</DrawRect>
	<PaintNear>3</PaintNear>
	<PaintFar>20</PaintFar>
	<WindowWidth>1000</WindowWidth>
	<WindowHeight>700</WindowHeight>
	<SpriteConfigFileName>conf/test.xml</SpriteConfigFileName>
	<CharacterConfigFileName>conf/character.xml</CharacterConfigFileName>
	<TerrainConfigFileName>conf/terrain.xml</TerrainConfigFileName>
	<DecorationConfigFileName>conf/decoration.xml</DecorationConfigFileName>
	<BulletConfigFileName>conf/bullet.xml</BulletConfigFileName>
	<SceneConfigFileName>conf/scene.xml</SceneConfigFileName>
	<FaceConfigFileName>conf/face.xml</FaceConfigFileName>
	<DialogConfigFileName>conf/dialog.xml</DecorationConfigFileName>
</Config>






