<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<Config>
	<Scale>1</Scale>
	<DrawRect>0</DrawRect>
	<PaintNear>3</PaintNear>
	<PaintFar>20</PaintFar>
	<WindowWidth>1000</WindowWidth>
	<WindowHeight>700</WindowHeight>
	<SpriteConfigFileName>resource/sprite.xml</SpriteConfigFileName>
	<CharacterConfigFileName>conf/character.xml</CharacterConfigFileName>
	<DecorationConfigFileName>conf/decoration.xml</DecorationConfigFileName>
	<BulletConfigFileName>resource/bullet.xml</BulletConfigFileName>
	<BackgroundConfigFileName>resource/background.xml</BackgroundConfigFileName>
	<worldConfigFileName>conf/testWorld.xml</worldConfigFileName>
	<FaceConfigFileName>conf/face.xml</FaceConfigFileName>
	<DialogConfigFileName>conf/dialog.xml</DialogConfigFileName>
</Config>
